@model IList<StellarDsClient.Sdk.Dto.Transfer.StellarDsErrorMessage>

<h2>Something has gone wrong</h2>

<button id="return-button" class="warning">Return</button>

<ul>
    @foreach (var message in Model)
    {
    <li>@message</li>
    }
</ul>