@model ToDoCreateEditViewModel

@{
    ViewData["Title"] = $"{Model.ListEntity?.Title ?? "List"}: Add task";
}

@if (Model.ErrorMessages is not null && Model.ErrorMessages.Count > 0)
{
    <partial name="_ErrorMessagesPartial" model="@Model.ErrorMessages" />
}
else if (Model.ListEntity is not null)
{
    <section class="content">
        <h2>@ViewData["Title"]</h2>

        <partial name="_ListPartial" model="@Model.ListEntity" />

        <button id="return-button" class="warning">Return</button>

        <form method="post">
            <partial name="_CreateEditPartial" model="Model.TaskFormModel" />

            <div class="buttons">
                <button type="submit">Add</button>
            </div>
        </form>
    </section>
}