@page "/"
@using StellarDsClient.Sdk
@using StellarDsClient.Ui.Blazor.Providers
@using StellarDsClient.Models.Result
@using StellarDsClient.Models.Mappers

@inject DataApiService<ReadOnlyAccessTokenProvider> DataApiService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code
{
    private IList<ListResult>? ListResults { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var stellarDsResult = await DataApiService.Find<ListResult>(nameof(List), string.Empty);
        ListResults = stellarDsResult.Data;

        await base.OnInitializedAsync();
    }
}