@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

@if(Model.CurrentListTableId <= 0 || Model.CurrentToDoTableId <= 0)
{
    <h3>Some or all the table IDs are missing.</h3>

    <p>Please create or recreate the database by clicking the 'Create new tables' button.</p>
} else
{
    <h3>StellarDsClient currently uses the following table IDs:</h3>

        <ul>
            <li>List table: @Model.CurrentListTableId</li>
            <li>ToDo table: @Model.CurrentToDoTableId</li>
        </ul>
}

<a asp-controller="Admin" asp-action="ResetTables" class="button warning">Create new tables</a>