@{
    ViewData["Title"] = "Unauthorized";
}

<h2>@ViewData["Title"]</h2>

<p>You are not signed in. Click <a asp-controller="OAuth" asp-action="SignIn">here</a> to sign in through the Stellar DataStore website.</p>