@{
    ViewData["Title"] = "You are not signed in";
}

<h2>@ViewData["Title"]</h2>

<p>Click <a asp-controller="OAuth" asp-action="SignIn">here</a> to sign in through the Stellar DataStore website.</p>